/*------------- RESPONSIVENESS --------------*/

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    .swell-large-font {
        font-size: 5rem;
    }

    .swell-title-wrap {
        .swell-title.swell-main-title {
            font-size: map-get($swell-header-h2, md);
        }
    }

    .swell-banner {
        background: #F0F0F0;

        .inner-wrap {

            .content-wrap {
                &.content-wrap-left {
                    @include linear-gradient(to left, #008AFA, #0076E1);
                    .info-wrap {
                        right: -15%;
                    }
                }

                &.content-wrap-right {
                    @include linear-gradient(to right, #008AFA, #0076E1);
                    .info-wrap {
                        left: -15%;
                    }
                }
            }

            .info-wrap {
                .banner-title {
                    font-size: 3.5rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .special-section {
    	.sale-section {
    		.display-img {
    			margin-top: -75px;
    		}
    	}
    }

}

@include media-breakpoint-up(lg) {
    .swell-title-wrap {
        .swell-title.swell-main-title {
            font-size: map-get($swell-header-h2, lg);
        }
    }
}

@include media-breakpoint-only(lg) {
    .sale-section-small {
        .swell-large-font {
            font-size: 4rem;
        }
    }
}

@include media-breakpoint-up(xl) {
    .swell-title-wrap {
        .swell-title.swell-main-title {
            font-size: map-get($swell-header-h2, xl);
        }
    }
}